 //Tipografías

$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'AR One Sans', sans-serif;

//Font Size
$fontSize: 16px;

//Font Size Variables
$textLg:1.4rem;
$textMd:1.2rem;
$textSm:1rem;

//Weights Fonts
$textLight:300;
$textRegular:400;
$textSemiBold:500;
$textBold:600;
$textBlack:700;


//Line Height
$lineHeight:1.7;
